apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: trident-csi-san
provisioner: csi.trident.netapp.io
parameters:
  backendType: "ontap-san"
  fsType: "ext4"
allowVolumeExpansion: True
reclaimPolicy: Delete